.homeContainer {
  height: 100vh;
  width: 100%;
  //background-color: #dfcdcd;
}

.homeMain {
  display: flex;
  justify-content: center;
  height: 100%;
}
.homeLeftPan,
.homeMiddlePan,
.homeRightPan {
  border: 3px solid rgb(167, 167, 167);
  border-radius: 5px;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.homeLeftPan {
  width: 20%;
  margin-top: 100px;
}

.homeMiddlePan {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.homeRightPan {
  width: 20%;
}

.homeMiddlePan {
  display: flex;
  justify-content: flex-end;
}

// .UserTextContainer {

// }

@media only screen and(max-width:1218px) {
  // s

  .homeMain {
    flex-direction: column;
    align-items: center;
  }

  .homeLeftPan,
  .homeMiddlePan,
  .homeRightPan {
    width: 75%;
  }

  .homeLeftPan {
    margin-top: 600px;
  }
}
