.textBarContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  //position: fixed;
}

.textbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
}

.textBarField {
  height: 55px;
  width: 100%;
}

.MsgSubmitButton,
.MsgSubmitSection {
  height: 100%;
  //width: 60px;
}

.MsgSubmitButton {
  width: 55px;
}
