.GroupTileContainer {
  display: flex;
  //background-color: #fad4d4;
  width: 100%;
  padding: 20px;
  //border: solid 1px rgb(133, 133, 133);
  cursor: pointer;
  border-radius: 5px;
}

.GTileMid {
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.GTileRight {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.groupTileIcon {
  width: 35px;
  height: 35px;
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  margin-left: 5px;
}

.groupTileTitle {
  font-size: 22px;
  font-weight: 600;
}
