.GroupTileContainer {
  display: flex;

  width: 100%;
  padding: 20px;

  cursor: pointer;
  border-radius: 5px;
}

.GTileMid {
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.GTileRight {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-end;
}

.groupTileIcon {
  width: 35px;
  height: 35px;
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  margin-left: 5px;
}

.groupTileTitle {
  font-size: 22px;
  font-weight: 600;
}

.GroupDeleteButton {
  width: 60px;
  height: 100%;
  background-color: rgb(184, 0, 0);
  border: none;
  color: #ffffff;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 180ms;
  //transition-property: transform;
  //transform: translate(50px);
}

.GTileHiddenRight {
  //transform: translate(50px);
}

.GroupTileExpand {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
