.SignupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.signupFence {
  width: 100vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupFields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nameField,
.emailField,
.pwField,
.pwVerifyField,
.signUpBanner {
  margin-bottom: 20px;
}
